*{
    font-family: var(--font-light);
    color: var(--black);
}
/****************************/
body{
    background-color: var(--secondary-1);
}
/****************************/
button{
  border: none;
  cursor: pointer;
  background: none;
}
/****************************/
img{
    width: 100%;
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
}
/****************************/
footer{
    background-color: var(--primary-1);
    color: var(--secondary-1);
}
/****************************/
h1{
    position: relative;
    font-family: var(--font-bold);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.20));
    font-size: 2.5em;
    margin-bottom: 1em;
    line-height: 46px;
}
h2{
    font-family: var(--font-bold);
}
h3{
    font-family: var(--font-bold);
}
/****************************/
strong{
    display: block;
    font-family: var(--font-bold);
    color: var(--primary-2);
}
/****************************/
span{
    font-family: var(--font-bold);
}
/****************************/
label{
    font-family: var(--font-bold);
    color: var(--primary-2);
}
/****************************/
p{
    font-family: var(--font-light);
    color: var(--primary-2);
    padding: 0;
    margin: 0 0 1em 0;
}
/****************************/
i{
    color: var(--primary-2);
}
/****************************/
input{
  all: unset;
}
/****************************/
/****************************/
/****************************/
#menu i{
    color: var(--secondary-1);
}
/****************************/
/****************************/
/****************************/
.text-color-black{
    color: var(--black);
}
.text-color-primary-1{
    color: var(--primary-1);
}
.text-color-primary-2{
    color: var(--primary-2);
}
.text-color-secondary-1{
    color: var(--secondary-1);
}
.text-color-tertiary-1{
    color: var(--tertiary-1);
}
.color-black{
    color: var(--black);
}
.color-primary-1{
    background-color: var(--primary-1);
}
.color-primary-2{
    background-color: var(--primary-2);
}
.color-secondary-1{
    background-color: var(--secondary-1);
}
.color-tertiary-1{
    background-color: var(--tertiary-1);
}
.card-img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.20));
}