@font-face {
    font-family: 'font-bold';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'font-light';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}
/****************************/
/****************************/
/****************************/
:root {
    --font-bold: 'font-bold', sans-serif;
    --font-light: 'font-light', sans-serif;
    --primary-1: #077c93;
    --secondary-1: #ffffff;
    --tertiary-1: #dfdfdf;
    --black: #363636;
}
/****************************/
/****************************/
/****************************/
*{
    font-family: var(--font-light);
}
/****************************/
button{
  border: none;
  cursor: pointer;
  background: none;
}
/****************************/
footer{
    background-color: var(--primary-1);
    color: var(--secondary-1);
}
/****************************/
h1{
    font-family: var(--font-bold);
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.20));
    color: var(--primary-1);
    font-size: 2.5em;
}
h2{
    font-family: var(--font-bold);
    color: var(--primary-1);
}
h3{
    font-family: var(--font-bold);
    color: var(--primary-1);
}
/****************************/
span{
    font-family: var(--font-bold);
}
/****************************/
label{
    font-family: var(--font-bold);
    color: var(--primary-1);
}
/****************************/
p{
    font-family: var(--font-light);
    color: var(--primary-2);
    padding: 0;
    margin: 0 0 1em 0;
}
/****************************/
i{
    color: var(--primary-1);
}
/****************************/
input{
  all: unset;
}
/****************************/
/****************************/
/****************************/
#menu i{
    color: var(--secondary-1);
}
/****************************/
/****************************/
/****************************/
.text-color-black{
    color: var(--black);
}
.text-color-primary-1{
    color: var(--primary-1);
}
.text-color-secondary-1{
    color: var(--secondary-1);
}
.text-color-tertiary-1{
    color: var(--tertiary-1);
}
.color-black{
    color: var(--black);
}
.color-primary-1{
    background-color: var(--primary-1);
}
.color-secondary-1{
    background-color: var(--secondary-1);
}
.color-tertiary-1{
    background-color: var(--tertiary-1);
}