.card-primary{
    background-color: var(--secondary-1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-primary i{
    font-size: 4em
}

.card-secondary{
    background-color: var(--primary-1);
    color: var(--secondary-1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-secondary i{
    color: var(--secondary-1);
    font-size: 4em
}
.card-secondary h3{
    color: var(--secondary-1);
}